@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bg-color: linear-gradient(95deg, rgba(56, 163, 165, 1) 0%, rgba(87, 204, 153, 1) 100%);
  --bg-berita: #f5f5f5;
  --text-white: #ffffff;
  --text-label: #6e7c7c;
  --text-color: #345b63;
  --shadow: rgba(87, 204, 153, 0.5);
  --border-color: #ffb085;
}

/* Basic Css */
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Background hero */
.bg-hero {
  color: var(--text-white);
  background: var(--bg-color);
}
/* Hero */

.hero-img {
  display: block;
  margin: 50px auto;
  width: 280px;
  padding: 10px;
}
.herobox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-box {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--text-white);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px var(--shadow);
  transition: 0.4s all;
}
.hero-box img {
  width: 33px;
}
.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 20px;
}
.hero-title h1 {
  text-transform: uppercase;
  font-size: 28px;
}

.hero-title p {
  font-size: 15px;
}

.hero-title span {
  color: var(--text-color);
}

/* Berita */
.berita {
  position: relative;
  background-color: var(--bg-berita);
}
.berita-box {
  margin: 13px 0;
  border-radius: 5px;
  background: var(--text-white);
}
.berita::before {
  content: "";
  position: absolute;
  background-color: var(--bg-berita);
  width: 100%;
  height: 15px;
  border-radius: 50px 50px 0 0;
  top: -14px;
}
.text-awal {
  position: relative;
  padding-top: 25px;
  padding-bottom: 3px;
  display: flex;
  color: var(--text-white);
}
.text-awal::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--border-color);
}
.text-awal h2 {
  font-size: 20px;
  padding-top: 3px;
  color: var(--text-color);
}
.text-awal .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.berita-pict {
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.text-berita {
  padding: 10px;
}
.text-berita h3 {
  margin-top: 5px;
  font-size: 18px;
  color: var(--text-color);
}
.text-berita p {
  font-size: 15px;
}
.text-berita a {
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  color: var(--text-white);
  border-radius: 5px;
  background: var(--bg-color);
  text-decoration: none;
  transition: 0.4s all;
}

.label {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.label span {
  font-size: 12.5px;
  color: var(--text-label);
}
.label img {
  margin-right: 7px;
  width: 15px;
}
/* Berita hoax & Siaran Pers */
.hoax,
.siaran-pers {
  background: var(--bg-berita);
  padding-bottom: 25px;
}
/* Footer */
.footer::before {
  content: "";
  position: absolute;
  background: var(--bg-color);
  width: 100%;
  border-radius: 50px 50px 0 0;
  height: 15px;
  top: -13px;
}
.footer {
  position: relative;
  background: var(--bg-color);
  color: var(--text-white);
}
.footer .twitter {
  display: none;
}
.logo-footer .logo {
  width: 130px;
  margin-top: 8px;
  margin-bottom: 25px;
}
.address-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}
.address-box {
  display: flex;
  align-items: center;
}
.address-box img {
  width: 19px;
  margin-right: 10px;
  margin-bottom: auto;
}
.address-box p {
  font-size: 14px;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copyright p {
  text-align: center;
  font-size: 13px;
}
.copyright a {
  color: var(--text-white);
  text-decoration: none;
}
.footer .hide {
  display: none;
}

/* Postingan */

.title {
  margin: 25px 0;
}
.post h2 {
  font-size: 26px;
}
.post p {
  line-height: 28px;
}
.post-thumbnail {
  width: 100%;
}
.label-wrap {
  display: flex;
}
.label-wrap .label {
  margin-right: 10px;
}

/* Media query untuk desktop view*/
@media screen and (min-width: 855px) {
  /* Hero */
  .hero-title {
    text-align: left;
  }
  .herobox-wrap {
    justify-content: start;
  }
  .hero-box:hover {
    transform: translateY(10px);
  }
  .hero-img {
    width: 360px;
    margin-top: unset;
    margin-left: auto;
    margin-right: unset;
  }
  /* Berita */
  .berita-pict:hover {
    transform: scale(1.1);
    opacity: 0.7;
  }
  .berita-pict {
    height: 215px;
    transform: scale(1);
    transition: 0.5s all;
  }
  .hoax .berita-pict {
    height: 300px;
  }
  .berita-box {
    overflow: hidden;
  }
  .hero-title h1 {
    font-size: 36px;
  }
  .hero-title p {
    font-size: 16px;
  }
  .footer .twitter {
    display: block;
    margin-left: auto;
  }
  .logo-footer .logo {
    width: 130px;
  }
  .address-wrap {
    align-items: unset;
  }
  .button:hover {
    color: var(--text-white);
    opacity: 0.7;
  }
  /* Footer  */
  .footer .hide {
    display: block;
  }
  .text-footer {
    position: relative;
    margin: 10px 0;
    display: flex;
    color: var(--text-white);
  }
  .text-footer::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    bottom: 0;
    border-bottom: 2px solid var(--border-color);
  }
  .text-footer p {
    padding-top: 3px;
  }
  .text-footer .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .wrap-content {
    margin-left: 10px;
  }
  .profile {
    border-radius: 5px;
  }
  .nama {
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    background: var(--text-white);
    color: var(--text-color);
    border-radius: 10px 10px 10px 0;
    position: relative;
  }
  .nama::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 6px solid var(--text-white);
    border-top: 6px solid var(--text-white);
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    bottom: -11px;
    left: 0;
  }
  .copyright {
    justify-content: space-between;
    flex-direction: row;
    align-items: unset;
  }
  .copyright a:hover {
    color: var(--text-white);
  }
}
